body{
    background: #eee;

}

form{
    max-width: 200px;
    margin: 40px auto;
    background: white;
    padding: 10px;


}

input{
    display: block;
    margin: 10px auto;
    padding: 4px;

}
.success{
    background: rgb(134, 238, 134);
    border: 2px solid rgb(134, 238, 134);
}
.error{
    border: 2px solid rgb(241, 134, 155);
    background: rgb(241, 134, 155);
}
